<h1>Add Article</h1>
<form #addArticleForm="ngForm" (submit)="addArticle()">
  <div class="form-group">
    <label for="name">Name</label>
    <input 
      type="text" 
      class="form-control" 
      id="name" 
      name="name"
      [(ngModel)]="article.name"
      #name="ngModel"
      required/>
      <span [hidden]="name.valid || name.pristine">
      Name is required!
      </span>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input 
      type="text" 
      class="form-control" 
      id="author" 
      name="author"
      [(ngModel)]="article.author"
      #author="ngModel"
      required/>
      <span [hidden]="author.valid || author.pristine">
      Author is required!
      </span>
  </div>
  <div class="form-group">
    <label for="year">Year</label>
    <input 
      type="number"
      min="1950"
      max="2050"
      class="form-control" 
      id="year" 
      name="year"
      [(ngModel)]="article.year"
      #year="ngModel"
      required/>
      <span [hidden]="year.valid || year.pristine">
      Year is required!
    </span>
  </div>
  <div class="form-group">
    <label for="image">Image Url</label>
    <input 
      type="url" 
      class="form-control" 
      id="image" 
      name="image"
      [(ngModel)]="article.image"
      #image="ngModel"
      required/>
      <span [hidden]="image.valid || image.pristine">
      Image is required!
      </span>
  </div>
  <div class="form-group">
    <label for="text">Text</label>
    <input 
      type="text" 
      class="form-control" 
      id="text" 
      name="text"
      [(ngModel)]="article.text"
      #text="ngModel"
      required/>
      <span [hidden]="text.valid || text.pristine">
      Text is required!
      </span>
  </div>
  <button 
    type="submit" 
    class="btn btn-success"
    [disabled]="!addArticleForm.form.valid">
    Submit
  </button>

</form>

